/* Estilos para el layout básico */

.layout {
  min-height: 100vh;
}

.topbar {
  background-color: #488704;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

.topbar h1 {
  color: #fff;
  margin: 0;
}

.content {
  margin: 20px;
  padding: 20px;
  background: #fff;
}

.footer {
  text-align: center;
}
